<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name=viewport content="width=device-width,initial-scale=1,user-scalable=0">
<meta name=apple-mobile-web-app-capable content=yes>
<meta name="wap-font-scale" content="no">
<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="config.js"></script>
</body>
</html>