@charset "utf-8";
input[type="number"]{-moz-appearance:textfield;}
ul,li{ padding:0; margin:0; list-style:none}
.RedBorder{ border:3px #e65b3a solid;box-sizing:border-box;}
.MobileScreenposition{position:relative}
.hide{ display: none}
.show{ display: block}
div,a{-webkit-tap-highlight-color:rgba(0,0,0,0)}

/*picture*/
.picture{ background:#ffffff}
.picture .picture1 ul{}
.picture .picture1 li{}
.picture .picture1 li a{display:block}
.picture .picture1 img{width:100%}

/*picture 1行两张活三张*/
.picture .picture2 ul,.picture .picture3 ul{display: -webkit-flex;display: flex;display: -webkit-box; flex-flow:row;}
.picture .picture2 li,.picture .picture3 li{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1; }
.picture .picture2 li a,.picture .picture3 li a{ display:block}
.picture .picture2 img,.picture .picture3 img{ width:100%}

/*Baopin*/
.Baopin{ position:absolute; width:100%;height:inherit;bottom:0; left:0; z-index:9999;}
.BaopinisPreview{position:fixed;bottom:0; left:0;}
.Baopin .Mask{display:none}

.Baopin .nr{ background:#FFF;border-radius:5px; width:15.58rem;  margin:0 auto;margin-top:2rem;}
.Baopin .nr1{ padding:0.5rem .7rem 0rem .7rem}
.Baopin .bpbt{ position:relative; margin-bottom:.65rem; height: 2rem}
.Baopin .bpbt1{margin-bottom:.5rem}
.Baopin .btlinewz{ font-size:.6rem; color:#989898; background:#FFF; padding:2px 4px 2px 4px; position:relative; left:0; bottom:-0.45rem;}
.Baopin .btline{ height:1px; background:#e8e8e8; width:100%}
.Baopin .tc{width:100%; margin-bottom:.5rem;padding:0 .2rem;box-sizing:border-box;}
.Baopin .tcsz{ font-size:.5rem;border-radius:3px; background:#5fc24b; padding:2px 4px; color:#FFF;position: relative;top: .13rem; margin:auto .3rem}
.Baopin .sm{font-size:.65rem;color:#484848; width:5.5rem; line-height:.8rem;position: relative;top:  .1rem; max-height:1.6rem; overflow:hidden}
.Baopin .cartNum {width: 4.2rem;align-items: center;border: 1px solid #ddd;height: 1.23rem;border-radius: 1rem;overflow: hidden;font-size: 0; position: relative}
.Baopin .cartNum input { width:100%;height: 100%;color: #484848; font-size:0.6rem;cursor: pointer;text-align: center;}
.Baopin .cartNum button {height: 100%;width: 1.4rem;color: #484848;border-right: 1px solid #ddd;border-left: 1px solid #ddd; background:#FFF;position: absolute;}
.Baopin .cartNum button.yf_cut { left: 0; top: 0;}
.Baopin .cartNum button.yf_add { right: 0; top: 0;}
.Baopin .tongjiall{padding-bottom:.4rem;}
.Baopin .tongji{padding:0 .4rem; padding-bottom:.2rem}
.Baopin .lmbt{font-size:.7rem;color: #484848;}
.Baopin .red{ color:#f44336}
.Baopin .qr{display: -webkit-flex;display: flex;display: -webkit-box; border-top:1px solid #e8e8e8}
.Baopin .qr a{-webkit-box-flex: 1;-webkit-flex: 1;flex: 1; display:block; text-align:center;font-size:.8rem; line-height:2rem; color:#666666}
.Baopin .qr .qra{ color:#5fc24b;border-left:1px solid #e8e8e8}
.Baopin .xuanze{ cursor: pointer}

.Baopin .RedBorder{width:100%;box-sizing:border-box;}
.Baopin .Snapup{width:100%;text-align:center; height:2.2rem; line-height:2.2rem; background:#F63;font-size:16px;color:#FFF;cursor: pointer}
.Baopin .pic{background:none;}

.Baopinactive,.Baopinactive .RedBorder,.Baopinactive .Baopin1000,.Baopinactive .Baopinnr{ height:100%;}
.Baopinactive .Snapup{width:100%; position:absolute;left:0;bottom:0;z-index: 9998}
.Baopinactive .Mask{display:block;position:absolute;top:0; left:0; width:100%;  height:100%;background: rgba(0, 0, 0, 0.5);z-index: 9999}

/*Video*/
.Video{}
.h5Video{width:100%; background:#000}

